body {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 13px;
}

pre {
  padding: 5px 10px;
  white-space: pre-wrap;
}

code {
  color: #fff;
  font-family: Menlo, Monaco, 'Lucida Console', 'Andale Mono', monospace;
}

pre code {
  line-height: 18px;
}
