{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 1%, not dead, not ie<12",
        "useBuiltIns": "entry",
        "corejs": 3,
        "debug": true
      }
    ]
  ],
  "plugins": [
    "./babel/verbose-regexp-macro"
  ]
}
