{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": [
          "last 3 versions"
        ],
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-spread",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-external-helpers"
  ]
}
