:root {
  --green: #6f0;
  --gray: #B0B0B0;
  --cyan: #7CB893;
  --dark-cyan: #29A994;
  --orange: #f60;
  --yellow: #fc0;
  --light-yellow: #dde93d;
  --purple: #BCA1B5;
  --light-aqua: #D4E6FF;
  --aqua: #5ddbff;
  --brown: #999966;
  --white: #fff;
}

:root {
  --bg-dark: #0a0a28;
  --bg-medium: #333;
  --bg-regexp-group: rgba(50, 100, 150, 0.3);
  --bg-embedded: rgba(128, 128, 128, 0.35);
}

pre {
  background-color: var(--bg-dark);
}

.daub-line-highlight {
  background-color: rgba(255, 255, 255, 0.11);
}

code b {
  font-weight: normal;
}

code .debug {
  background-color: #900;
  color: var(--white);
}

code .comment,
.token.comment {
  color: var(--gray);
}

code .string,
.token.string {
  color: var(--green);
}

code .string .escape,
code .regexp .escape {
  color: var(--cyan);
}

code .interpolation {
  background-color: var(--bg-medium);
  color: var(--white);
}

code .keyword,
code .control,
code .selector,
code .operator {
  color: var(--orange);
}

code .keyword.keyword-function {
  font-style: italic;
  color: var(--yellow);
}

code .keyword.special,
code .selector-pseudo,
code .unit {
  color: var(--light-yellow);
  /* color: hsla(var(--light-yellow), 0.8); */

}

code .number {
  color: var(--purple);
}

code .constant,
code .symbol {
  color: var(--cyan);
}

code .superclass {
  font-style: italic;
}

code .storage {
  font-style: italic;
}

code .support {
  color: var(--light-aqua);
}

code .support.dom {
  color: var(--aqua);
}

code .function,
code .entity,
code .property {
  color: var(--orange);
}

code .parameter,
code .variable-parameter {
  font-style: italic;
}

code .variable {
  color: var(--aqua);
}

code .regexp {
  color: var(--dark-cyan);
}

code .regexp .group {
  background-color: var(--bg-regexp-group);
}

/* code .regexp .group .group {
  background-color: #0c1a17;
}

code .regexp .group .group .group {
  background-color: #14211e;
}

code .regexp .group .group .group .group {
  background-color: #1b2724;
} */

code .embedded {
  background-color: var(--bg-embedded);
}

code.php {
  --bg-embedded: rgba(128, 128, 128, 0.15);
}

code.php .string {
  --bg-embedded: rgba(128, 128, 128, 0.35);
}

code .embedded .punctuation.embedded-start,
code .embedded .punctuation.embedded-end,
code .embedded .punctuation.interpolation-begin,
code .embedded .punctuation.interpolation-end {
  color: var(--white);
}

code .string-shell-command {
  color: hsla(var(--light-yellow), 0.8);
  /* color: #cc3; */
}

code .embedded .interpolation {
  background-color: #222;
}

code .interpolation > .punctuation {
  color: #f60;
}

code .interpolation-contents {
  /* color: #fff; */
}

code .element .tag,
code .element .punctuation {
  color: #f60;
}

code .tag.tag-jsx {
  text-decoration: underline;
  text-decoration-color: rgba(255, 102, 0, 0.25);
}

code .element .attribute,
code .element .attribute-name {
  color: #fc0;
  font-style: italic;
}

code.css .property,
code.scss .property {
  color: #999966;
}

code.css .string-unquoted,
code.scss .string-unquoted {
  color: #5ddbff;
  font-style: italic;
}

code.css .selector-class,
code.scss .selector-class {
  color: #fc0;
  font-style: italic;
}

code .entity-class,
code .entity-module {
  color: #fff;
  text-decoration: underline;
}

code .entity-class.entity-superclass {
  color: #fc0;
}

code .debug {
  outline: 1px solid #f00;
}

code .embedded { color: #fff; }
code .params .punctuation {
  color: inherit;
}
